* {
    margin: 0; /* внешний отступ */
    padding: 0; /*внутренний */
    box-sizing: border-box; /*Применяется для изменения алгоритма расчёта ширины и высоты элемента.*/
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly; /* определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/
    align-items: center; /* выравнивает flex-элементы текущей flex-линии таким же образом, как и justify-content, но в перпендикулярном направлении.*/
}

.time-select, /* выбрать время через запятую выбрать звук*/
.sound-picker
.player-container {
    height: 80%; /*  придаю высоту чтобы их видеть */
    flex: 1; /* чтобы были одниковой длины и ширины */
    display: flex; /* таким образом ставлю в ряд */
    flex-direction: column; /* в виде столбца будут там где минуты */
    justify-content: space-evenly; /* выравнять равномерно пространство содержимого*/
    align-items: center; /*элементы строки по центру */
}

.player-container {
    /* контейнер игрока */
    position: relative; /*указывает тип метода позиционирования, используемого для элемента (статический, относительный, фиксированный, абсолютный или фиксированный). */
}

.player-container svg {
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(
        -50%,
        -50%
    ); /*transformприменяет 2D- или 3D-преобразование к элементу. Это свойство позволяет вращать, масштабировать, перемещать, наклонять и т. д. элементы. */
}

.time-display {
    position: absolute;
    bottom: 10%; /*Свойство bottomвлияет на вертикальное положение позиционируемого элемента.  */
    color: white;
    font-size: 50%;
}

video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10; /* поместит или изображ или видео за всё остальное*/
}

.time-select button,
.sound-picker button {
    color: wheat;
    width: 30%;
    height: 10%;
    background: none; /* убрала уродливый фон там где кнопки минуты и солнце*/
    border: 2px solid white; /* границы более красивее белые на кнопках */
    cursor: pointer;
    border-radius: 5px; /*радиус границы */
    font-size: 20px;
    transition: all 0.5s ease; /*переход всё по 0,5 секунды при наведении курсор будет реагировать */
}

/*наведение на кнопки курсивом  будет меняться цвет*/
.time-select button:hover {
    color: black;
    background: white; /*изменить фон слабее */
}

/*для получения кнопки выбора звукка*/
.sound-picker button {
    border: none; /*избавились от границ */
    height: 120px;
    width: 120px;
}



/*кнопка выбора звука nth-child и я могу получить 1 кнопку и вторую кнопку */
.sound-picker button :nth-child(1){
background: #4972a1;

}

.sound-picker button:nth-child(2){
background: #a14F49;
}