* {
    margin: 0; /* внешний отступ */
    padding: 0; /*внутренний */
    box-sizing: border-box; /*Применяется для изменения алгоритма расчёта ширины и высоты элемента.*/
}

.app {
    height: 100vh;
    display: flex;
    justify-content: space-evenly; /* определяет, как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex контейнера, или вдоль строчной оси grid контейнера.*/
    align-items: center; /* выравнивает flex-элементы текущей flex-линии таким же образом, как и justify-content, но в перпендикулярном направлении.*/
}

.time-select, /* выбрать время через запятую выбрать звук*/
.sound-picker,
.player-container {  /* контейнер игрока */
height: 80%; /*  придаю высоту чтобы их видеть */
flex: 1; /* чтобы были одниковой длины и ширины */
}

.time-select { /*время и задам фон*/
background: rgb(107, 177, 200);
}

.sound-picker { /* выбор звука задам ему фон */
background: lightgreen;
}

.player-container{
    background: lightcoral;
}